/**
 * Variables
*/

/* Typography */
/* Breakpoints */
/* Paths */
/* Grid setup */
/* Colour palette */
$color-white: #fff;
$color-black: #000;

$color-background: $color-black;
$color-content: $color-white;
$color-active-first: #cdff26;
$color-active-second: #0728EF;
$color-active-third: #F5F5F5;

$border-radius-xs: 6vw;


/* Components */
