.promo {
    position: relative;
    overflow: hidden;
    margin-bottom: -15vh;
    background-position: center;
    background-image:url(assets/cover/cover_placeholder.jpg);
    background-size: cover;

    @include sm {
        margin-bottom: 0;
    }

    @media not all and (min-resolution:.001dpcm){
        @supports (-webkit-appearance:none) {
            position: sticky;
        }
    }

    &__content {
        position: absolute;
        z-index: 2;
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        pointer-events: none;
        text-align: center;
        flex-direction: column;

        @include sm {
            padding: 44px;
        }
    }

    &__cover {
        position: absolute;
        z-index: 1;
        height: 100%;
        width: 100%;
        overflow: hidden;
        
    }

    &__canvas {
        object-fit: cover;
        width: 100%;
        height: 100%;
        visibility: hidden;

        &_visible--true {
            visibility: visible;
        }
    }

    &__buttons {
        margin-top: 3vh;
        display: flex;
        align-items: center;
        justify-content: center;
        pointer-events: all;

        opacity: 0;
        animation: showIn .3s 3s forwards;
        
        .button {
            margin: 0 16px;

            @include sm {
                margin: 16px 0;
            }
        } 

        @include sm {
            margin-top: 6vh;
            flex-direction: column;
        }

    }

    &__scroll-arrow {
        position: absolute;
        bottom: 0;
        z-index: 5;
        width: 100%;
        display: flex;
        justify-content: center;
        padding-bottom: 48px;
    }

    h1 {
        span {
            display: inline-block;
            max-width: 0;
            overflow: hidden;
            animation: cutIn .01s forwards;

            &:nth-child(1) {
                animation-delay: 1s;
            }
            &:nth-child(2) {
                animation-delay: 1.5s;
            }
            &:nth-child(3) {
                animation-delay: 2s;
            }
            &:nth-child(4) {
                animation-delay: 2.33s;
            }
        
        }
        @include sm {
            line-height: 1;
        }
    }

    @keyframes showIn {
        0% {
            opacity: 0;
        }

        100% {
            opacity: 1;
        }
    }

    @keyframes cutIn {
        0% {
            max-width: 0;
        }

        100% {
            max-width: 10000px;
        }
    }
}